<div class="container">
<h1>New Blog  <small>&nbsp; &nbsp; *<small>Add Category before creating Blog &nbsp; &nbsp;<%= link_to 'Add New Category', new_category_path, class: "btn btn-default btn-sm" %></small></small></h1>

<%= render 'form', blog: @blog %>

</div>
