<!-- Static navbar -->
<ul class="docile-bar navbar" style="background-color: #A9A9A9;">
    <li>    
        <% if @logotexts.present? %>
            <% @logotexts.each do |logotext| %>
                <strong><em><%= link_to logotext.text, "/", method: :get, class: "header3" %></em></strong>
            <% end %>
        <% else %>  
          <strong><em><%= link_to "The Docimer Project", "/", method: :get, class: "header3" %></em></strong>
        <% end %>           
    </li>
    <div style="float:right">
        <% @pages.each do |page| %>
            <li><%= link_to page.title, page, class: "header3", method: :get %></li>
        <% end %>
    <% @sections.each do |section| %>
          <% if section.option.empty? %>
          <% else %>
          <li><%= link_to "Blogs", blogs_path, class: "header3", method: :get %></li>
    <% end %><% end %>
    </div>    
    </ul>