<!-- Static navbar -->
<ul class="docile-bar">
    <li>
        <% if @logotexts.present? %>
            <% @logotexts.each do |logotext| %>
                <strong><em><%= link_to logotext.text, "/", method: :get %></em></strong>
            <% end %>
        <% else %>  
          <strong><em><%= link_to "The Docimer Project", "/", method: :get %></em></strong>
        <% end %>  
    </li>
    <div style="float:right">
        <% @pages.each do |page| %>
            <li><%= link_to page.title, page, method: :get %></li>
        <% end %>
    <% @sections.each do |section| %>
          <% if section.option.empty? %>
          <% else %>
          <li><%= link_to "Blogs", blogs_path, method: :get %></li>
    <% end %><% end %>
    </div>    
    </ul>

