<!DOCTYPE html>

<form class="col-sm-5 col-md-5">
  <div id="toolbar" style="display: none; background-color: grey;" class="navbar navbar-default">
    <a data-wysihtml5-command="bold" title="CTRL+B"><span class="glyphicon glyphicon-bold" aria-hidden="true"></span></a> |
    <a data-wysihtml5-command="italic" title="CTRL+I"><span class="glyphicon glyphicon-italic" aria-hidden="true"></span></a> |
    <a data-wysihtml5-command="createLink">insert link</a> |
    <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a> |
    <a data-wysihtml5-command="insertUnorderedList"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a> |
    <a data-wysihtml5-command="insertOrderedList">Ordered<span class="glyphicon glyphicon-list" aria-hidden="true"></span></a> |
    <a data-wysihtml5-command="insertSpeech">speech</a>
    <a data-wysihtml5-action="change_view"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
    
    <div data-wysihtml5-dialog="createLink" style="display: none;">
      <label>
        Link:
        <input data-wysihtml5-dialog-field="href" value="http://">
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
    
  
