<br><br>
<div class="push"></div>
<!--==========================Docimer Sticky Footer============================--> 
<% if !cmsadmin_signed_in? %>
  <footer class="navbar footer">
    
 <br>

      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
                <small>
                    <% if @footertexts.present? %>
                        <% @footertexts.each do |footertext| %>
                            <%= footertext.text %>
                        <% end %>
                     <% else %>
                         &copy; <small>Copyright. The Docimer Project. All Rights Reserved | 2018 </small>       
                     <% end %>
                </small>
                 
            </div>
          </div>
        </div>
      </div>
  </footer>
<% end %>
<!-- #footer -->
<script>
	$(window).load(function(){
		$('.footer').stickyFooter();
	});
</script>